@import 'variables';

.user-page {
  &__container {
    padding: 10px 20px 20px;
    background-color: $color-white;
    margin: 0;
  }
  &__back {
    padding: 8px;
    border-radius: 3px;
    background-color: $color-purple-darken;
    a {
      color: $color-white;
    }
  }
  &__info-btn {
    @include custom-background($color-white, $color-purple);
    &:hover {
      @include custom-background($color-white, $color-purple-darken);
    }
  }
}
